body {
  margin-left: 2em;
}

h1 {
  text-align: center;
}

.person {
  margin: 0.5em;
  float: left;
  border: 1px solid #ddd;
  padding: 10px;
  width: 250px;
}

.points {
  margin-left: 0.5em;
  border: 1px solid #7B3939;
  border-radius: 60%;
  text-align: center;
  width: 19px;
  padding: 5px;
  background-color: rgb(255, 244, 246);
}

.name {
  font-size: 1.2em;
}
input{
  font-size: inherit;
  color: inherit;
  float: right;
}
.remove{
  cursor: pointer;
}
